{
    "version": 1,
    "storageDriverName": "ontap-nas",
    "managementLIF": {{ your_netapp_mgmtlif }},
    "dataLIF": {{ your_netapp_datalif }},
    "svm": {{ your_netapp_svm }},
    "username": {{ your_netapp_username}},
    "password": {{ your_netapp_password }}, 
    "storagePrefix": "k8spv_",
    "aggregate": {{ your_netapp_aggregate }},
    "defaults": {
      "size":   "2G",
      "spaceReserve": "volume",
      "snapshotDir": "true"
    }
  }