{
  "service": 
    {
      "name": "vip-k8s", 
      "id": "vip-k8s", 
      "tags": ["k8s-haproxy"],
      "address": "{{ env_metallb_ip }}",
      "port": 80, 
      "checks": [ 
      {
          "name": "K8S HTTP check",
                "tcp": "{{ env_metallb_ip }}:80",
                "interval": "30s"
      }
        ]
    }
}